

<div class="container-fluid">
  <div class="row" style="margin-top: -15px; margin-bottom: -2px;" *ngIf="showDepartmentDropDown">
    <div  class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label for="DivisionName" class="form-label">Department Name :</label>
      <select  placeholder="Dipartment"  id="dipartment" name="Dipartment"  class="form-control" (change)="onSelectDpt($event)">
           <option value="0">Select Department</option> 
          <option *ngFor="let data of QKUserList" value={{data.DeptId}}>{{data.OrgDepartment.OrgDepartmentName}} </option> 
        </select>            
    </div>  
  </div>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div style="margin-bottom: 2px;" class="col-md-1">
            <button type="button" class="btn btn-primary"  (click)="editKPI()"><i class="fa fa-pencil"></i> </button> 
          </div>
          <div style="text-align: center;" class="col-md-11">
            <h6 > KPI Montly Entry Form</h6> 
          </div>
          
          
        </div>
        
        <p-table [columns]="cols" [value]="dataList"  dataKey="ID" 
         [responsive]="true" [resizableColumns]="true" [autoLayout]="true" >
         <ng-template pTemplate="header" let-columns>
           <colgroup>
          <col *ngFor="let col of columns"  style="width: 200px;">
          </colgroup>
         </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr>                              
                  <th *ngFor="let col of columns"  style="background-color: #007ad9;font-size:14px;color: #ffffff;">
                      {{col.header}}
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
               
                <td *ngFor="let col of columns" pEditableColumn [ngClass]="{'disable-td' : !col.editable}">
                    <div *ngIf="!col.editable">
                        {{rowData[col.field]}}
                      </div>
                    <p-cellEditor *ngIf="col.editable">
                        <ng-template pTemplate="input">
                            <input pInputText type="number" required [(ngModel)]="rowData.March">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData[col.field]}}
                        </ng-template>
                </p-cellEditor>
                </td>
            </tr>
        </ng-template>
      </p-table><br>
      <div style="text-align: right">
    <button type="button" pButton icon="fa fa-check" label="Submit" (click)="onSubmit()" *ngIf="showSubmitButton"></button>&nbsp;&nbsp;&nbsp;
      </div>
      </nb-card-body>
    </nb-card>
  </div>

  

  