// .disable-td{
//     pointer-events: none;
// }

// .old-car {
//     background-color: #1CA979 !important;
//     color: #ffffff !important;
// }
// body .ui-table .ui-table-thead > tr > th{
//     font-weight: normal; 
//     background-color: #d1d3f7;
// }
// td {
//     padding: 0 70px;
//   }
//   th {
//     padding: 0 70px;
//   }
 .kpili {
    width: auto;
    height:430px;
    overflow-x: overlay;
    // margin-left: 30px;
    overflow-y: visible;
    // padding-bottom: 1px;
  }

  body .ui-table .ui-table-caption {
    border-bottom: 0 none;
    font-weight: 700;
    width: 1321px !important;
}
.mprltbldata > th {
  background: #428bca !important;
  color: #fff !important;
  font-size: 12px !important;
}

.mprltbldata > td {
  font-size: 12px !important;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0rem 0rem 0rem !important;
  
}

.ui-card-body {
  padding: 0em !important;
  padding-top: 0px !important;
}
.card-body {
  padding: 0em !important;
  padding-top: 0px !important;
}